<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638390575257-4ld8609rp5ll4sje76qh9tcel8cmcc86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638390575257-4ld8609rp5ll4sje76qh9tcel8cmcc86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>638390575257-e2njh2a3ujfqkllnu4dpsifvvs23no71.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuOPABmDbTpiy18EwrM8448leCD7AIipk</string>
	<key>GCM_SENDER_ID</key>
	<string>638390575257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ygame.kiemtien3d</string>
	<key>PROJECT_ID</key>
	<string>ygame-corp-3e79e</string>
	<key>STORAGE_BUCKET</key>
	<string>ygame-corp-3e79e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638390575257:ios:9232273b3e1fba340f9808</string>
	<key>DATABASE_URL</key>
	<string>https://ygame-corp-3e79e.firebaseio.com</string>
</dict>
</plist>